body {
  text-align: center;
  background-color: black;
  font-family: "Futura";
}

#gitpg {
  text-decoration: none;
  color: white;
}

h1,p {
  color: gray;
}

@font-face {
	font-family: "Futura";
	src: url('Futura.ttc');
}
